<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="coq.editors.CoqEditor"
            default="false"
            extensions="v"
            icon="icons/coq.png"
            id="Cod Editor.editor3"
            name="CoqEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="coq.perspectives.CoqPerpectiveFactory"
            icon="icons/coq.png"
            id="CoqPerspective"
            name="CoqPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="coq.views.CoqTopView"
            icon="icons/coq.png"
            id="CoqTopView"
            name="Top level"
            restorable="true">
      </view>
      <view
            class="coq.views.CoqTopErrorView"
            icon="icons/coq.png"
            id="CoqTopErrorView"
            name="Error"
            restorable="true">
      </view>
      <view
            category="CoqViews"
            class="coq.views.InfoView"
            icon="icons/coq.png"
            id="InfoView"
            name="InfoView"
            restorable="true">
      </view>
      <category
            id="CoqViews"
            name="CoqViews">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="stepForward"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+ARROW_DOWN">
      </key>
      <key
            commandId="stepBackward"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+ARROW_UP">
      </key>
      <key
            commandId="goForward"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+ARROW_RIGHT">
      </key>
      <key
            commandId="goBackward"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+ARROW_LEFT">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="stepForward"
            name="stepForward">
      </command>
      <command
            id="stepBackward"
            name="stepBackWard">
      </command>
      <command
            id="goForward"
            name="goForward">
      </command>
      <command
            id="goBackward"
            name="goBackward">
      </command>
      <command
            id="restart"
            name="restart">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
     
      <handler
            class="coq.handlers.StepForward"
            commandId="stepForward">
         <enabledWhen>
            <reference
                  definitionId="instanceOfCoqEditor">
            </reference>
         </enabledWhen>
      </handler> 
      <handler
            class="coq.handlers.StepBackward"
            commandId="stepBackward">
         <enabledWhen>
            <reference
                  definitionId="instanceOfCoqEditor">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="coq.handlers.GoForward"
            commandId="goForward">
      </handler>
      <handler
            class="coq.handlers.GoBackWard"
            commandId="goBackward">
      </handler>
      <handler
            class="coq.handlers.Restart"
            commandId="restart">
         <enabledWhen>
            <with
                  variable="activeEditor">
               <instanceof
                     value="coq.editors.CoqEditor">
               </instanceof>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         id="Coq Menu"
         name="Coq Menu"
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="CoqToolBar">
            <command
                  commandId="stepForward"
                  disabledIcon="icons/arrow_down_hidden.png"
                  icon="icons/arrow_down.png"
                  id="stepForward"
                  style="push"
                  tooltip="step forward">
            </command>
            <command
                  commandId="stepBackward"
                  disabledIcon="icons/arrow_up.png"
                  icon="icons/arrow_up.png"
                  id="stepBackward"
                  style="push"
                  tooltip="step backward">
            </command>
            <command
                  commandId="restart"
                  disabledIcon="icons/stop_hidden.png"
                  icon="icons/stop.png"
                  id="restart"
                  style="push"
                  tooltip="restart coqtop">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="CoqFilePopup"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="CoqFilePopupMenu"
               label="Coq"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="coq.popupMenus.CoqFileAction"
               enablesFor="*"
               icon="icons/coq.png"
               id="Summary"
               label="Summary"
               menubarPath="CoqFilePopupMenu/group1">
         </action>
      </objectContribution>
      <objectContribution
            id="CoqProjectPopup"
            objectClass="org.eclipse.core.resources.IProject">
         <menu
               id="CoqProject"
               label="Coq Project"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
  on>
         <action
               class="coq.popupMenus.CoqProjectAction"
               enablesFor="*"
               icon="icons/coq.png"
               id="coq_doc_action"
               label="Make doc"
               menubarPath="CoqProject/group1">
		 </action>
         <action
               class="coq.popupMenus.CoqProjectAction"
               enablesFor="*"
               icon="icons/coq.png"
               id="coq_clean_action"
               label="Make clean"
               menubarPath="CoqProject/group1">
         </action>
         <action
               class="coq.popupMenus.CoqProjectAction"
               enablesFor="*"
               icon="icons/coq.png"
               id="coq_make_action"
               label="Make"
               menubarPath="CoqProject/group1">
         </action>ction>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="CoqWizard"
            name="Coq">
      </category>
      <wizard
            category="CoqWizard"
            class="coq.newWizards.CoqNewWizard"
            icon="icons/coq.png"
            id="CoqIde.wizard2"
            name="Coq Project">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="coq.launchConfigurations.CoqLaunchConfiguration"
            id="Coqc"
            modes="run, debug"
            name="Coqc">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="Coqc"
            icon="icons/coq.png"
            id="CoqlaunchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="coq.launchConfigurations.CoqLaunchConfigurationTabGroup"
            id="CoqlaunchConfigurationTabGroup"
            type="Coqc">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            category="org.eclipse.ui.externaltools"
            class="coq.launchConfigurations.CoqLaunchShortcut"
            icon="icons/coq.png"
            id="CoqcShortcut"
            label="coqc"
            modes="run, debug">
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="coq.preferences.CoqWorkbenchPreferencePage"
            id="CoqPreferences"
            name="Coq">
      </page>
      <page
            category="CoqPreferences"
            class="coq.preferences.CoqEditorPreferencePage"
            id="CoqEditorPreferences"
            name="Editor">
      </page>
      <page
            category="CoqPreferences"
            class="coq.preferences.CoqPathsWorkbenchPreferencePage"
            id="CoqPathsPreferences"
            name="Paths">
      </page>
      <page
            category="CoqPreferences"
            class="coq.preferences.CoqOutlintWorkbenchPreferencePage"
            id="CoqOutlinePreferences"
            name="Outline">
      </page>
      <page
            category="CoqEditorPreferences"
            class="coq.preferences.CoqSyntaxColoringWorkbenchPreferencePage"
            id="CoqSyntaxColoringPreferences"
            name="Syntax Coloring">
      </page>
      <page
            category="CoqEditorPreferences"
            class="coq.preferences.CoqFormattingWorkbenchPreferencePage"
            id="CoqFormattingPreferences"
            name="Formatting">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="instanceOfCoqEditor">
         <with
               variable="activeEditor">
            <instanceof
                  value="coq.editors.CoqEditor">
            </instanceof>
         </with>
      </definition>
   </extension>

</plugin>
